<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="/header/header.css">

</head>
<body>
    
<footer>

    <table>
		<tr>
        <td ><a href="/Order">발주관리</a></td>
        <td><a href="/ObtainOrder">수주관리</a></td>
        <td><a href="/kongjung_info">공정관리</a></td>
        <td><a href="/PM">생산관리</a></td>
        <td><a href="/stock/material">재고관리</a></td>
        <td><a href="/ConsignmentManagement">출하관리</a></td>        
        </tr>
    </table>

</footer>
</body>
</html>