<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>MES Lunch 로그인</title>
<link rel="stylesheet" href="/mainpage/login.css">

			<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
</style>
</head>
<body>	
	<div class="container">
			 <form action="/login" id="login-form" method="post">
				 <fieldset>
					 <legend><img src="/img/logo4.png" class="title"></legend>
		<table>
			<tr>
				<td id="id"><input type="text" id="insert_id" name="userId" class="id" placeholder="아이디를 입력하세요." ></td>
			</tr>
			<tr>
				<td id="pw"><input type="password" name="passwd" id="insert_passwd" class="pw" placeholder="비밀번호를 입력하세요."></td>
			</tr>
			
			<tr>
				<td><button type="submit" class="login" >로그인</button></td>
			</tr>
		</table>	
			<ul>
			<li style="width: fit-content;"><a href="/findId" class="search" id="idsearch" >아이디 찾기</a></li>
			<li>|</li>
			<li><a href="/findpw" class="search" id="pwsearch">비밀번호 찾기</a></li>
			<li>|</li>
			<li><a href="/join" class="search" id="join">회원가입</a></li>
			</ul>
			</fieldset>
		</form>

	</div>

</body>
</html>